<div class="content-wrapper" style="min-height: 1126px;">
  <%= image_tag "https://image.ibb.co/eguQ4b/logo.png",
    alt: "Badminton Logo", class: "img-logo"%>
  <div class="welcome-jumbo welcome-display-middle ribbon">
    Welcome, <%= @current_user.name %>
  </div>
  <hr class="w3-border-grey hr-display-middle" style="margin:auto;width:40%">
  <div class="greet greet-display-middle">
    <div class="greet-container">
      <ul class="greet-container-list">
        <li class="greet-container-list-item">Have A Nice Day !</li>
        <li class="greet-container-list-item">Impossible is Nothing !</li>
        <li class="greet-container-list-item">Never Give Up !</li>
        <li class="greet-container-list-item">Work Hard, Play Hard !</li>
      </ul>
    </div>
  </div>
</div>
