@import url(https://fonts.googleapis.com/css?family=Exo:100,200,400);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:700,400,300);

.login-page {
  overflow: hidden !important;
  background: #fff;
  margin: 0;
  padding: 0;
  color: #fff;
  font-family: Arial;
  font-size: 12px;
}

.body-login {
  position: fixed;
  top: -6px;
  left: -6px;
  right: -6px;
  bottom: -6px;
  width: auto;
  height: auto;
  background-image: url(https://image.ibb.co/bt0VkG/badminton.jpg);
  background-size: cover;
  -webkit-filter: blur(5px);
  z-index: 0;
}

.grad {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.65))); /* Chrome,Safari4+ */
  bottom: -6px;
  height: auto;
  left: -6px;
  opacity: 0.7;
  position: fixed;
  right: -6px;
  top: -6px;
  width: auto;
  z-index: 1;
}

.header-login {
  margin: 15% auto;
  position: relative;
  width: 280px;
  z-index: 2;
}

.header-login div {
  color: #fff;
  float: left;
  font-family: 'Exo', sans-serif;
  font-size: 35px;
  font-weight: 200;
}

.header-login div span{
  color: #5379fa !important;
}

.login-form {
  height: 150px;
  margin: 7% auto;
  padding: 10px;
  position: relative;
  width: 300px;
  z-index: 2;
}

.login-form input[type=email] {
  width: 250px;
  height: 30px;
  background: transparent;
  border: 1px solid rgba(255,255,255,0.6);
  border-radius: 2px;
  color: #fff;
  font-family: 'Exo', sans-serif;
  font-size: 16px;
  font-weight: 400;
  padding: 4px;
}

.login-form input[type=password] {
  width: 250px;
  height: 30px;
  background: transparent;
  border: 1px solid rgba(255,255,255,0.6);
  border-radius: 2px;
  color: #fff;
  font-family: 'Exo', sans-serif;
  font-size: 16px;
  font-weight: 400;
  padding: 4px;
  margin-top: 10px;
}

.login-form input[type=submit] {
  width: 260px;
  height: 35px;
  background: #fff;
  border: 1px solid #fff;
  cursor: pointer;
  border-radius: 2px;
  color: #a18d6c;
  font-family: 'Exo', sans-serif;
  font-size: 16px;
  font-weight: 400;
  padding: 6px;
  margin-top: 10px;
}

.login-form input[type=button]:hover {
  opacity: 0.8;
}

.login-form input[type=button]:active {
  opacity: 0.6;
}

.login-form input[type=text]:focus {
  outline: none;
  border: 1px solid rgba(255,255,255,0.9);
}

.login-form input[type=password]:focus {
  outline: none;
  border: 1px solid rgba(255,255,255,0.9);
}

.login-form input[type=button]:focus {
  outline: none;
}

::-webkit-input-placeholder {
   color: rgba(255,255,255,0.6);
}

::-moz-input-placeholder {
   color: rgba(255,255,255,0.6);
}

.alert-box {
  right: 50px;
  position: fixed;
  top: 65px;
  z-index: 999;
}

.welcome-display-middle {
  position: absolute;
  top: 45%;
  left: 55%;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}

.greet {
  height: 160px;
  overflow:hidden;
  font-family: 'Lato', sans-serif;
  font-size: 35px;
  line-height: 40px;
  color: #ca3826;
}

.greet-container {
  font-weight: 600;
  overflow: hidden;
  height: 40px;
}

.greet-container:before {
  content: '[';
  left: 0;
}

.greet-container:after {
  content: ']';
  position: absolute;
  right: 0;
}

.greet-container:after, .greet-container:before {
  position: absolute;
  top: 0;

  color: #16a085;
  font-size: 42px;
  line-height: 40px;

  -webkit-animation-name: opacity;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  animation-name: opacity;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.greet-container-list {
  margin-top: 0;
  padding-left: 50px;
  padding-right: 50px;
  text-align: center;
  list-style: none;

  -webkit-animation-name: change;
  -webkit-animation-duration: 15s;
  -webkit-animation-iteration-count: infinite;
  animation-name: change;
  animation-duration: 15s;
  animation-iteration-count: infinite;
}

.greet-container-list-item {
  line-height:40px;
  margin:0;
}

@-webkit-keyframes opacity {
  0%, 100% {opacity:0;}
  50% {opacity:1;}
}

@-webkit-keyframes change {
  0%, 12.66%, 100% {transform:translate3d(0,0,0);}
  16.66%, 29.32% {transform:translate3d(0,-25%,0);}
  33.32%,45.98% {transform:translate3d(0,-50%,0);}
  49.98%,62.64% {transform:translate3d(0,-75%,0);}
  66.64%,79.3% {transform:translate3d(0,-50%,0);}
  83.3%,95.96% {transform:translate3d(0,-25%,0);}
}

@-o-keyframes opacity {
  0%, 100% {opacity:0;}
  50% {opacity:1;}
}

@-o-keyframes change {
  0%, 12.66%, 100% {transform:translate3d(0,0,0);}
  16.66%, 29.32% {transform:translate3d(0,-25%,0);}
  33.32%,45.98% {transform:translate3d(0,-50%,0);}
  49.98%,62.64% {transform:translate3d(0,-75%,0);}
  66.64%,79.3% {transform:translate3d(0,-50%,0);}
  83.3%,95.96% {transform:translate3d(0,-25%,0);}
}

@-moz-keyframes opacity {
  0%, 100% {opacity:0;}
  50% {opacity:1;}
}

@-moz-keyframes change {
  0%, 12.66%, 100% {transform:translate3d(0,0,0);}
  16.66%, 29.32% {transform:translate3d(0,-25%,0);}
  33.32%,45.98% {transform:translate3d(0,-50%,0);}
  49.98%,62.64% {transform:translate3d(0,-75%,0);}
  66.64%,79.3% {transform:translate3d(0,-50%,0);}
  83.3%,95.96% {transform:translate3d(0,-25%,0);}
}

@keyframes opacity {
  0%, 100% {opacity:0;}
  50% {opacity:1;}
}

@keyframes change {
  0%, 12.66%, 100% {transform:translate3d(0,0,0);}
  16.66%, 29.32% {transform:translate3d(0,-25%,0);}
  33.32%,45.98% {transform:translate3d(0,-50%,0);}
  49.98%,62.64% {transform:translate3d(0,-75%,0);}
  66.64%,79.3% {transform:translate3d(0,-50%,0);}
  83.3%,95.96% {transform:translate3d(0,-25%,0);}
}

.greet-display-middle {
  position: absolute;
  top: 60%;
  left: 55%;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}

.hr-display-middle {
  position: absolute;
  top: 50%;
  left: 55%;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}

.welcome-jumbo {
  animation: animatetop 0.4s;
  position: absolute;
  color: #2c2c2c;
  background-color: #d5d5d5;
  letter-spacing: .05em;
  text-shadow:
    4px 4px 0px #d5d5d5,
    7px 7px 0px rgba(0, 0, 0, 0.2);
  font-size: 50px;
  text-align: center;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
  width: 70%;
}

.w3-border-grey {
  border-color: #000!important;
  margin: auto;
  width: 40%;
}

.ribbon {
   text-align: center;
}

.ribbon:before, .ribbon:after {
  content: "";
  position: absolute;
  display: block;
  bottom: -0.25em;
  border: 0.5em solid #d5d5d5;
  z-index: -1;
}

.ribbon:before {
 left: -1.25em;
 border-right-width: 1em;
 border-left-color: transparent;
}

.ribbon:after {
 right: -1.25em;
 border-left-width: 1em;
 border-right-color: transparent;
}

.img-logo {
  left: 50%;
  position: absolute;
  top: 10%;
}

.avatar {
  border: 1px solid #eee;
}

.only-bottom-margin {
  margin-top: 0px;
}

.activity-mini {
  padding-right: 15px;
  float: left;
}

.manage-content {
  margin-top: 20px;
}

.dataTables_filter {
  text-align: right;
}
