<footer class="main-footer">
  <div class="pull-right hidden-xs">
    <b>Version</b> 6.9.0
  </div>
  <strong>Copyright © 2017-2018 <%= link_to "Badminton Club", root_path%>.
  </strong> All rights
  reserved.
</footer>
