<aside class="main-sidebar">
    <section class="sidebar" style="height: auto;">
      <div class="user-panel">
        <div class="pull-left image">
          <img src="https://image.ibb.co/iJEvKb/default_user.png" class="img-circle" alt="User Image">
        </div>
        <div class="pull-left info">
          <p><%= @current_user.name %></p>
        </div>
      </div>
      <ul class="sidebar-menu tree" data-widget="tree">
        <li class="header">MAIN NAVIGATION</li>
        <li class="treeview">
          <ul class="treeview-menu">
            <li><a href="../../index.html"><i class="fa fa-group"></i> Dashboard v1</a></li>
            <li><a href="../../index2.html"><i class="fa fa-building-o"></i> Dashboard v2</a></li>
          </ul>
        </li>
        <li>
          <%= link_to users_path do %>
            <i class="fa fa-group"></i> <span>Users</span>
          <% end %>
        </li>
        <li>
          <%= link_to "#" do %>
            <i class="fa fa-building-o"></i> <span>Clubs</span>
          <% end %>
        </li>
      </ul>
    </section>
  </aside>
